.wrapper {
  width: 100%;
}

.content {
  display: flex;
  height: 100%;
}
.content > div {
  width: 60%;
}

.accounts {
  width: 40% !important;
  overflow-y: scroll;
  max-height: 87vh;
}

.accountPreview {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeAccountEmpty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

.EmptyImage {
  background: url(./images/noun_choose.png);
  width: 138px;
  height: 138px;
}
