.buttons {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  gap: 26px;
  display: flex;
  align-items: center;
}

.buttons > div {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.cloneBtn {
  color: #03a9f4;
}

.deleteBtn {
  color: #647079;
}

.cloneBtnIcon {
  background: url(../../assets/icons/mdi_content-duplicate.svg);
  width: 16px;
  height: 16px;
}

.deleteBtnIcon {
  background: url(../../assets/icons/Delete.svg) no-repeat 50% 50%;
  width: 16px;
  height: 16px;
}

.priceWrapper {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  background: #21333f;
  border: 1px solid #21333f;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 7px 9px;
  color: #ffffff;
}

.accordionTitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #21333f;
}

.accordionTitle > * {
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 14px !important;
}

.tariffDescription {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  color: #647079;
}

.tariffContainer {
  width: 96%;
  display: flex;
  justify-content: center;
}

.description {
  width: 80%;
}

.descriptionTitle {
  font-weight: bold !important;
  font-size: 13px !important;
  line-height: 16px !important;
  color: #21333f !important;
  margin: 15px 0 17px 0px;
}

.tabs > div:first-child {
  background: #ebebeb !important;
  padding: 8px 8px 0 !important;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 0px solid #d4d4d5 !important;
  position: relative;
}

.tabs > div:first-child::-webkit-scrollbar {
  height: 3px;
  cursor: pointer;
}

.tabs > div:first-child > a {
  color: #03a9f4 !important;
  font-size: 14px !important;
  padding: 13px 20px !important;
}

.tabs {
  border: 1px solid #dee0e2 !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px;
}

.addServiceBtn {
  min-width: 24px;
  height: 24px;
  margin: auto 12px;
  border-radius: 5px;
  cursor: pointer;
  background: url(../../assets/icons/PlusWhite.svg) no-repeat;
  position: sticky;
  top: 0px;
  right: 0px;
}

.formRadioBTN {
  display: flex !important;
  align-items: center !important;
  margin-right: 0px !important;
}
