.header {
  background: rgba(33, 51, 63, 1);
}
.logo {
  height: 38px;
  width: 93px;
  background: url("./images/Group\ 9012.svg") no-repeat;
}

.border {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 0 0 16px;
}

.widthRightItems {
  min-width: 180px;
}

.settingWrapper {
  width: 157px;
}

.settingsItem {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
  padding: 22px 15px;
}

.link:hover {
  color: #f3fbff;
  border-top: 3px solid rgba(3, 169, 244, 1);
  background: rgba(0, 0, 0, 0.4);
}

.linkActive {
  color: #f3fbff;
  border-top: 3px solid rgba(3, 169, 244, 1);
  background: rgba(0, 0, 0, 0.4);
}

.notifications {
  width: 24px;
  height: 24px;
  background: url(./images/notificationActive.png);
}

.account {
  width: 32px;
  height: 32px;
  background: url(./images/Account.png);
}

.imageButton {
  margin: 0 15px;
  cursor: pointer;
}
